<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="vega_robot">

  <xacro:include filename="$(find vega_description)/urdf/vega_description.xacro" />

  <xacro:include filename="$(find vega_description)/urdf/vega_ros2_control.xacro" />

  <xacro:vega_description/>

  <xacro:vega_modular_actuators/>

</robot>